
	// COLORS

// Grey - Neutral //
	
$cultured: #F1F1F1;
$platinum: #E4E4E4;
$lightGray: #CACACA;
$silverChalice: #B1B1B1;
$spanishGray: #979797;
$grayWeb: #7D7D7D;
$dimGray: #696969;
$davysGray: #555555;
$onyx: #414141;
$jet: #2D2D2D;
$erieBlack: #191919;

// Basic //

$white: #FFFFFF;
$black: #000000;

// Primary - Secondary //

$persianPink: #F778B9;
$lavenderFloral: #B378FF;
$blueYonder: #486DB7;