@import '../../sass/mixins.scss';
@import '../../sass/variables.scss';

.sectionTitle{
	text-align: center;
	padding-top: 3rem;
}
.popularArticles{
	padding-top: 3rem;
	padding-bottom: 6rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: auto;
	gap: 5rem;
	h2{
		margin-bottom: 1rem;
	}
	.popularArticles__horizontalCards{
		display: flex;
		flex-direction: column;
		gap: 5rem;
		height: auto;
	}
}

@include responsive(tablet){
	.popularArticles{
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
}

@include responsive(desktop){
	.popularArticles{
		width: 120rem;
		margin: 0 auto;
	}
}