@import '../../sass/mixins.scss';

.faqs__container{
	padding-bottom: 5rem;
	.faqs__img{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 27.5rem;
		padding-top: 2rem;
	}
}

@include responsive(desktop){

	.faqs__container{
		display: flex;
		justify-content: center;
	}

}
