@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';

.desktop_publicity{
	display: none;
	
}

@include responsive(desktop){
	.desktop_publicity{
		height: 15rem;
		background-color: $cultured;
		display: flex;
		justify-content: center;
		align-items: center;

		img{
			height: 9rem;
			width: 72.8rem;
		}
	}
}